body {
    background-color: #000000;
    }
#option-container {
    width: 184.12px;
    height: 324.49px;
    left: 302px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 32.645px;
      margin: 8px;
    }
    
.center-row{
        display:flex;
        flex-direction: row;
        justify-content: center;
        }
    
#title-text{
        display:flex;
        justify-content:center;
        color:blanchedalmond;
        font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50.0724px;
    line-height: 66px;
    text-align: center;
    color: #FFF7F7;
    }

#subtitle-text{
        display:flex;
        justify-content:center;
        color:blanchedalmond;
        font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style:italic;
    text-align: center;
    color: #FFF7F7;
    }
    
#a-aligned-center{
    display:flex;
    justify-content:center;
    color:blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    }
    
#back-to-start{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color:blanchedalmond;
        flex-direction: flex-end;
        font-family: 'Montserrat', sans-serif;
        padding-right: 20px;
    }